# Dependencies
node_modules/
.pnpm-store/

# Production/Build
.next/
dist/
build/
coverage/

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local
!.env.example

# Logs
*.log
